<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="AppspaceXHRProxy"
    version="0.2.0">

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/AppspaceXHRProxy.js" name="XHRProxy">
            <merges target="" />
        </js-module>
        <framework src="src/windows/AppspaceXHRProxy.winmd" custom="true"/>
    </platform>

    <!-- other platforms -->
</plugin>